{% trans_default_domain params.domain %}

{% set announcement = params.announcement %}
{% set links = [{
        'path': path(params.route ~ 'show', {'id': announcement.id, 'type': params.data.type}),
        'title': 'announcement.show'|trans, 'icon': 'eye', 'load': true, 'size': 'lg'
    }]
%}

{% set canEdit = params.announcementVoter.isGranted('announcement-edit', announcement, app.user) %}
{% set isManager = params.data.type == 'manager' %}
{% set isAuthor = params.data.type == 'author' %}

{% if (isManager or isAuthor) and canEdit %}
    {% set links = links|merge([
            {
                'confirm': true, 'state': announcement.active,
                'title': announcement.active ? 'announcement.deactivate'|trans : 'announcement.activate'|trans,
                'path': path(params.route ~ 'state', {'id': announcement.id})
            },
            {
                'load': true, 'size': 'lg', 'icon': 'edit', 'title': 'announcement.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': announcement.id})
            }
        ])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': links
    })
}}