{% trans_default_domain params.domain %}

<div class="text-end">
    {% if announcement.publish %}
        {{ include(params.path ~ 'inc/_dateline.html.twig', {
                'label': 'announcement.label.publish'|trans,
                'date': announcement.publish,
                'br': true, 'hr': true,
            })
        }}
    {% endif %}

    {% if announcement.deletion %}
        {{ include(params.path ~ 'inc/_dateline.html.twig', {
                'label': 'announcement.label.deletion'|trans,
                'date': announcement.deletion,
                'br': true, 'hr': true,
            })
        }}
    {% endif %}
</div>
{{ announcement|allmega_item_info }}