{{ allmega_render_slider_content({
        'params': params|merge({'announcement': item}),
        'title': item.created|allmega_is_new ~ item.title,
        'templates': {
            'content': params.path ~ 'show/_content.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig'
        }
    })
}}