{% for announcement in announcements %}
	{{ allmega_render_dashboard_box_item({
			'title': {
				'content':  allmega_render_link({
					'load': true, 'label': announcement.title|slice(0,70), 'size': 'lg',
					'path': path(params.route ~ 'show', {'id': announcement.id})
				})
			},
			'content': announcement.message|slice(0,200),
			'badge': announcement.created|allmega_is_new
		})
	}}
{% else %}
	{{ 'announcement.empty.member'|trans({}, params.domain) }}
{% endfor %}