<div  class="pb-1">
    {{ label|trans }}
    {% if br|default(false) %}<br>{% endif %}
    <i class="fa-solid fa-calendar-alt"></i>
    {{ date|format_datetime('medium', 'none', locale='de') }}
</div>
{% if hr|default(false) %}<hr>{% endif %}