{% set show = params.announcementVoter.isGranted('announcement-files', announcement, app.user) %}
{% set editFiles = params.data.type == 'author' or params.data.type == 'manager' %}
{{ allmega_media_render_files_widget({
        'show': show and editFiles,
        'folder': announcement.mediaDir,
        'route': params.route ~ 'index',
        'navid': announcement.id,
        'id': params.data.type,
    })
}}