<div class="row">
    <div class="col-md-12">
        <div class="px-3">
            {% set announcement = params.announcement %}
            <div class="pb-3">{{ announcement.message|raw }}</div>
            {% if not app.request.isXmlHttpRequest %}
                {{ include(params.path ~ 'inc/_files.html.twig') }}
            {% endif %}
            {{ allmega_render_tags(announcement.tags) }}
        </div>
    </div>
</div>