{% trans_default_domain params.domain %}

{% set announcement = params.announcement %}
{% set links = [] %}

{% if not app.request.isXmlHttpRequest %}
    {% set title = 'announcement.list.' ~ params.data.type %}
    {% set links = links|merge([
            {
                'path': path(params.route ~ 'index', {'id': params.data.type}),
                'icon': 'backward', 'title': title|trans,
            }
        ])
    %}
    
    {% if params.announcementVoter.isGranted('announcement-edit', announcement, app.user) %}
        {% set links = links|merge([
                {
                    'title': announcement.active ? 'announcement.deactivate'|trans : 'announcement.activate'|trans,
                    'path': path(params.route ~ 'state', {'id': announcement.id}),
                    'state': announcement.active, 'confirm': true
                },
                {
                    'load': true, 'size': 'lg', 'icon': 'edit', 'title': 'announcement.edit'|trans,
                    'path': path(params.route ~ 'edit', {'id': announcement.id})
                }
            ])
        %}
    {% endif %}
{% endif %}

{{ allmega_render_heading({
        'title': {'icon': 'tasks', 'content': announcement.title},
        'actionsList': {'links': links}
    })
}}